body {
  font-family: 'HalvarBreit';
  position: relative;
  width: 1440px;
  height: 6480px;
  display: block;
  margin: 0 auto;
  background: #F0C243;
}

html {
  background: #F0C243;
  height: 6480px;
  position: relative;
  scroll-behavior: smooth;


}
.cover1 {
  font-family: "HalvarBreit-Blk";
  font-size: 150px;
  text-align: center;
  padding-top: 184px;
  color: #BC271C;
  z-index: 5;
}

.cover2 {
  font-family: "HalvarBreit-LtSlanted";
  font-size: 150px;
  text-align: center;
  color: #BC271C;
  letter-spacing: 6px;
  padding-top: 20px;
  padding-left: 45px;
  z-index: 5;
}

.letter1 {
  font-family: "HalvarBreit-Lt";
  font-size: 220px;
  color: #BC271C;
  padding-top: 100px;
  padding-left: 852px;
  z-index: 5;
}

.letter2 {
  font-family: "HalvarBreit-LtSlanted";
  font-size: 220px;
  color: #BC271C;
  padding-top: 0px;
  padding-left: 1052px;
  z-index: 4;
}



.img1 {
  z-index: 1;
  position: relative;
  margin-top: 0px;
}

.screen1 {
  display: block;
  position: relative;
  background: url("../images/First screen.png") 100% auto;
}
