body {
  font-family: 'HalvarBreit';
  position: relative;
  width: 1440px;
  height: 6480px;
  display: block;
  margin: 0 auto;
  background: #F0C243;
}

html {
  background: #F0C243;
  height: 6480px;
  position: relative;
  scroll-behavior: smooth;


}
.cover1 {
  font-family: "HalvarBreit-Blk";
  font-size: 150px;
  text-align: center;
  padding-top: 197px;
  color: #BC271C;
  z-index: 5;
}

.cover2 {
  font-family: "HalvarBreit-LtSlanted";
  font-size: 150px;
  text-align: center;
  color: #BC271C;
  letter-spacing: 6px;
  padding-top: 20px;
  padding-left: 45px;
  z-index: 5;
}

.letter1 {
  font-family: "HalvarBreit-LtSlanted";
  font-size: 220px;
  color: #BC271C;
  padding-left: 824px;
  padding-top: 110px;
  z-index: 4;
}

.letter2 {
  font-family:"HalvarBreit-Blk";
  font-size: 500px;
  padding-left: 447px;
  padding-top: 72px;
  color: #BC271C;
}



.screen1 {
  width: 1440px;
  height: 1367px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/First screen.svg");
  background-size: 100% auto;
}
