body {
  font-family: 'HalvarBreit';
  position: relative;
  width: 1440px;
  height: 6480px;
  display: block;
  margin: 0 auto;
  background: #F0C243;
}

html {
  background: #F0C243;
  height: 6480px;
  position: relative;
  scroll-behavior: smooth;

}
.cover1 {
  font-family: "HalvarBreit-Blk";
  font-size: 150px;
  text-align: center;
  padding-top: 197px;
  color: #BC271C;
  z-index: 5;
}

.cover2 {
  font-family: "HalvarBreit-LtSlanted";
  font-size: 150px;
  text-align: center;
  color: #BC271C;
  letter-spacing: 6px;
  padding-top: 20px;
  padding-left: 45px;
  z-index: 5;
}

.letter1 {
  font-family: "HalvarBreit-LtSlanted";
  font-size: 220px;
  color: #BC271C;
  padding-left: 824px;
  padding-top: 110px;
  z-index: 4;
}

.letter2 {
  font-family:"HalvarBreit-Blk";
  font-size: 500px;
  padding-left: 447px;
  padding-top: 72px;
  color: #BC271C;
}

.screen1 {
  width: 1440px;
  height: 1367px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/First screen.svg");
  background-size: 100% auto;
}

.screen2 {
  width: 1036px;
  height: 554px;
  margin-top: 69px;
  margin-left: 202px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/Second screen.svg");
  background-size: 100% auto;
  justify-content:center;

}

.card1 {
  width: 438px;
  height: 554px;
  display: inline-block;
  float: left;
}

.card2 {
  width: 473px;
  height: 347px;
  display: inline-block;
  float: right;
  margin-top: 102px;
}

.card1head1 {
  font-family: "HalvarBreit-Bd";
  font-size: 24px;
  text-align: center;
  padding-top: 65px;
  color: #F0C243;
  letter-spacing: 5px;
}

.card1description {
  font-family: "HalvarBreit-LtSlanted";
  font-size: 18px;
  color: #F0C243;
  text-align: center;
}

.surnameoncard1 {
  font-family: "HalvarBreit-Lt";
  font-size: 24px;
  padding-top: 30px;
  text-align: center;
  color: #F0C243;
}

.surnamehintoncard1 {
  font-family: "HalvarBreit-Th";
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  color: #F0C243;
}

.nameoncard1 {
  font-family: "HalvarBreit-Lt";
  font-size: 24px;
  padding-top: 17px;
  text-align: center;
  color: #F0C243;
}

.namehintoncard1 {
  font-family: "HalvarBreit-Th";
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  color: #F0C243;
}

.sltextoncard1 {
  width: 297px;
  height: 64px;
  font-family: "HalvarBreit-ThSlanted";
  font-size: 16px;
  text-align: left;
  padding-left: 81px;
  padding-top: 15px;
  padding-bottom:14px;
  color: #F0C243;
}

.card1head2 {
  font-family: "HalvarBreit-Bd";
  font-size: 14px;
  padding-top: 14px;
  color: #F0C243;
  padding-left: 219px;
}

.textoncard1 {
  font-family: "HalvarBreit-Th";
  font-size: 14px;
  color: #F0C243;
  padding-left: 219px;
}



.card2head1 {
  font-family: "HalvarBreit-Bd";
  width: 302px;
  height: 56px;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 46px;
  color: #F0C243;
  letter-spacing: 5px;
}
.nameoncard2 {
  font-family: "HalvarBreit-Lt";
  font-size: 18px;
  padding-top: 30px;
  padding-left: 46px;
  color: #F0C243;
}

.namehintoncard2 {
  font-family: "HalvarBreit-Th";
  font-size: 14px;
  padding-top: 10px;
  padding-left: 46px;
  color: #F0C243;
}

.card2head2 {
  font-family: "HalvarBreit-Bd";
  font-size: 14px;
  padding-top: 18px;
  padding-left: 70px;
  color: #F0C243;
  letter-spacing: 1px;
}

.textoncard2 {
  font-family: "HalvarBreit-Th";
  font-size: 14px;
  color: #F0C243;
  padding-top: 8px;
  padding-left: 73px;
}

.screen3 {
  padding-top: 32px;
  width: 1440px;
  height: 787px;
  margin-top: 32px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/Third screen.svg");
  background-size: 100% auto;
  justify-content:center;
}

.s3text {
  font-family: "HalvarBreit-BdSuSlanted";
  font-size: 24px;
  width: 77px;
  height: 56px;
  transform: rotate(-6deg);
  padding-left: 620px;
  padding-top: 580px;
}

.screen4 {
  width: 1127px;
  height: 627px;
  margin-top: 210px;
  margin-left: 239px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/Fourth screen.svg");
  background-size: 100% auto;
  justify-content:center;
}

.s4head1 {
  font-family: "HalvarBreit-Bd";
  font-size: 36px;
  padding-left: 426px;
  padding-top: 65px;
  color: #F0C243;
}

.s4head2 {
  font-family: "HalvarBreit-Lt";
  font-size: 36px;
  padding-left: 534px;
  color: #F0C243;
}

.s4text {
  font-family: "HalvarBreit-Lt";
  font-size: 18px;
  width: 144px;
  height: 189px;
  padding-left: 884px;
  padding-top: 105px;
  color: #F0C243;
}

.screen5 {
  width: 1440px;
  height: 1042px;
  margin-top: 112px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/Fifth screen.svg");
  background-size: 100% auto;
}

.s5text {
  font-family: "HalvarBreit-Rg";
  font-size: 18px;
  width: 393px;
  height: 62px;
  padding-left: 266px;
  padding-top: 215px;
  color: #F0C243;
}

.s5standart {
  font-family: "HalvarBreit-XBd";
  font-size: 14px;
  padding-left: 32px;
  padding-top: 84px;
  letter-spacing: 1px;
  color: #F0C243;
}

.s5slanted {
    font-family: "HalvarBreit-XBdSlanted";
    font-size: 14px;
    padding-left: 477px;
    padding-top: 29px;
    letter-spacing: 1px;
    color: #F0C243;
}

.s5suslanted {
    font-family: "HalvarBreit-XBdSuSlanted";
    font-size: 14px;
    padding-left: 1203px;
    padding-top: 350px;
    letter-spacing: 1px;
    color: #F0C243;
}

.screen6 {
  width: 1281px;
  height: 516px;
  margin-top: 116px;
  margin-left: 160px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/Sixth screen.svg");
  background-size: 100% auto;
}

.s6textdiv {
  position: absolute;
  width: 413px;
  height: 189px;
  margin-top: 268px;
  display: inline-block;
  float: left;
}

.s6text {
  font-family: "HalvarBreit-Rg";
  font-size: 18px;
  padding-left: 30px;
  color: #F0C243;
}

.s6thin {
    font-family: "HalvarBreit-Th";
    font-size: 86px;
    padding-left: 551px;
    padding-top: 150px;
    letter-spacing: 1px;
    color: #BC271C;
}

.s6reg {
    font-family: "HalvarBreit-Rg";
    font-size: 86px;
    padding-left: 551px;
    padding-top: 30px;
    letter-spacing: 1px;
    color: #BC271C;
}

.s6black {
    font-family: "HalvarBreit-Blk";
    font-size: 86px;
    padding-left: 551px;
    padding-top: 30px;
    letter-spacing: 1px;
    color: #BC271C;
}

.s6headdiv {
  position: absolute;
  width: 696px;
  height: 100px;
  margin-top: 40px;
  margin-left: 20px;
  display: inline-block;
  float: left;
}

.screen7 {
  width: 1041px;
  height: 684px;
  margin-top: 117px;
  margin-left: 55px;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/Seventh screen.svg");
  background-size: 100% auto;
}

.s7buttondesc {
	font-family: "HalvarBreit-LtSlanted";
    font-size: 36px;
	width: 246px;
	height: 42px;
    padding-left: 235px;
    padding-top: 168px;
    letter-spacing: 1px;
  	display: inline-block;
    color: #BC271C;
}

.s7switchdesc {
	font-family: "HalvarBreit-LtSlanted";
    font-size: 32px;
	width: 109px;
	height: 28px;
    padding-left: 330px;
    padding-top: 95px;
    letter-spacing: 1px;
  	display: inline-block;
    color: #F0C243;
}
